:root {
    --color-background: #007FAD;
}

html {
    font-family: 'Roboto';
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 20px 50px;
}

.container__title {
    font-weight: 400;
    margin-bottom: 10px;
}

.buttons {
    border: 2px solid red;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button__container {
    border: 2px solid var(--color-background);
    /* border-radius: 5px; */
    width: 200px;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 30px;
}

.button__icon {
    margin-bottom: 5px;
}

.navegacion {
    width: 100%;
    /* border: 1px solid green; */
    height: 75px;
    background-color: var(--color-background);
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
    padding: 13px 25px;
}

.navegacion__btn-regreso {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    transition: all 300ms ease-in-out;
}

.btn-regreso__icon {
    color: white;
    transition: all 300ms ease-in-out;
}

.navegacion__btn-regreso:hover {
    background-color: white;
    border: 2px solid var(--color-background);
    color: var(--color-background);
}

.navegacion__btn-regreso:hover .btn-regreso__icon {
    color: var(--color-background);
}

/* Formulario */
.container__form {
    /* border: 2px solid red; */
    width: 95%;
    display: flex;
    justify-content: end;
    /* padding: 5px 10px; */
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px rgb(226, 226, 226);
    border-radius: 10px;
    padding: 15px 15px;
}

.form__row {
    display: flex;
    grid-template-columns: 2;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 10px 10px;
    /* border: 2px solid springgreen; */
    margin-bottom: 10px;
}

.form__item {
    flex-basis: 49%;
}


.form__label {
    margin-bottom: 10px;
}

.form__input {
    border: 1px solid #e3e3e3;
    padding: 7px 5px;
    border-radius: 7px;
    margin-right: 25px;
    width: 100%;
}

.form__input:focus {
    border-color: var(--color-background);
    outline: none;
}

.btn__enviar {
    padding: 10px 25px;
    border: none;
    background-color: var(--color-background);
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn__enviar:hover {
    background-color: #00668b;
}

.form__select {
    width: 100%;
    height: 33px;
    border-color: #e3e3e3;
    outline: none;
    border-radius: 5px;
}

/* ------------Tabla de resultados */
.caja__busqueda {
    /* border: 2px solid red; */
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 25px;
}

.txt__busqueda {
    width: 300px;
    height: 35px;
    padding: 3px 7px;
}

.txt__busqueda::-webkit-input-placeholder {
    text-align: center;
    /* padding: 3px 7px; */
}


/* Estilos para el botón de la clase .slide */
.btn__busqueda {
    --color: white;
    /* Color base */
    --hover: var(--color-background);
    /* Color al hacer hover */
    color: var(--hover);
    /* Color del texto */
    background: none;
    /* Fondo transparente */
    border: 2px solid var(--hover);
    /* Borde con el color base */
    font: inherit;
    /* Hereda la fuente del padre */
    padding: 3px 10px;
    width: 100px;
    /* Espaciado interno */
    transition: 0.25s;
    /* Transición suave */
}

/* Efecto al hacer hover o focus */
.btn__busqueda:hover,
.btn__busqueda:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
    /* Sombra interna que llena el botón */
    border-color: var(--hover);
    /* Cambia el color del borde */
    color: #fff;
    /* Cambia el color del texto a blanco */
}

.tabla__resultados {
    margin: 0 auto;
    border: 2px solid red;

}